/* SASS Code */
html {
  scroll-behavior: smooth;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #e31b6d;
}

#bgroundPink {
  width: 98%;
}

/*NAVBAR*/

.navbar-text {
  font-family: "Meddon", cursive;
  font-size: 15px;
  color: #e31b6d !important;
}

#nav-target {
  font-family: 'Comfortaa', cursive;
  color: #ffffff !important;
}

#collapse-collapse {
  justify-content: flex-end;
}

.nav-item {
  font-size: small;
  margin: 5px 0 5px 0;
  padding: 3px 20px 3px 20px;
}

.bg-light {
  background: #f8f9fa00 !important;
  transition: box-shadow .5s ease-in-out;
}

.bg-light.scrolled {
  background: #1b242f !important;
  border-bottom: solid 3px #04c2c9;
}

.navbar-text::first-letter {
  font-size: 20px;
}

#nav-target:hover {
  color: #e31b6d !important;
  transition: .5s;
  padding-bottom: 2px;
}

.navbar-nav:active {
  color: #e31b6d !important;
}


/*END OF NAVBAR*/

/*LANDING PAGE JUMBOTRON*/
.jumbotron {
  background: url(../images/p-brush.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

.display-3 {  
  font-family: 'Dancing Script', cursive;
}

#landingRemarks2 {
  font-family: 'Comfortaa', cursive;
  letter-spacing: 5px;
}

#slogan {
  margin-top: 25% !important;
  background-color: #ffffff47;
}

.landing-button {
  font-family: 'Comfortaa', cursive;
  border: solid 2px #e31b6d;
  color: #e31b6d;
  padding: 8px 20px;
  margin-bottom: 10px;
}

#arrow-right {
  padding-left: 0px !important;
  padding-top: 2px !important;
}

ion-icon {
  transition: all 0.4s ease;
}

.landing-button:hover {
  background-color: #e31b6d;
  color: white; 
}

.landing-button:hover ion-icon {
    transform: rotateZ(90deg);
   }

/*END OF JUMBOTTON*/

/*ABOUT ME SECTION*/

.display-5 {
  font-family: 'Dancing Script', cursive;
  padding-bottom: 20px;
  padding-top: 100px;
}

.text-one {
  text-indent: 50px;
  text-align: justify;
}

.text-two {
  font-family: 'Comfortaa', cursive;
  text-indent: 50px;
  text-align: justify; 
}

.row1 {
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.row2 {
  padding-top: 100px;
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.row3 {
  padding-top: 100px;
  background-color: #f5f5f5;
}

.p-text-three {
  text-align: justify;
  text-indent: 50px;
  padding: 30px;
}

.meimg {
  border: solid 10px white;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.text-about, .text-gallery, .text-services {
  color: #444649;
  
}

/*END OF ABOUT ME SECTION*/

/*GALLERY SECTION*/

.slogan-1 {
  font-family: 'Comfortaa', cursive;
  background-color: #e31b6d;
  color: white;
  
}

.row4 {
  background-color: #e31b6d;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row5 {
  padding-top: 100px;
  background-color: white;
}

.row6 {
  background-color: white;
}



.row7 {
  background-color: white;
  padding-bottom: 100px;
}

.slogan-2 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

/*WRAPPER*/

.wrapper {
  display: grid;
  background-color: white;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding-bottom: 100px;
}

#galleryGrid {
  height: 700px;
  padding: 0 !important;
}

div .one {
  grid-column: span 2;
  grid-row: span 4;
}

div .two {
  grid-column: span 2;
  grid-row: span 2;
}

div .three {
  grid-column: span 2;
  grid-row: span 8;
}

div .four {
  grid-column: span 2;
  grid-row: span 3;
}

div .five {
  grid-column: span 2;
  grid-row: span 2;
}

div .six {
  grid-column: span 1;
  grid-row: span 2;
}

div .seven {
  grid-column: span 1;
  grid-row: span 2;
}

div .eight {
  grid-column: span 4;
  grid-row: span 4;
}

div .nine {
  grid-column: span 2;
  grid-row: span 3;
}

.img-fluid {
  height: 100%;
  width: 100%;
}
/*END OF GALLERY SECTION*/

.parallax {
  min-height: 500px;
  background: transparent;
}

.row9 {
  background-color: #f5f5f5;
  
}

.info {
  z-index: 2;
  position: relative;
  background-color: #f7d4d4;
  margin-right: 70%;
  margin-left: 10%;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
}

.row9 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.row10 {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.rounded {
  height: 350px;
  width: 100%;
}

.overlay {
  position: absolute !important;
  top: 46%;
  left: 35%;
  background-color: #f5f5f5;
  height: 0;
  width: 96%;
  opacity: 0;
  overflow: hidden;
  transition: .8s ease;
}

.imghov:hover .overlay {
  opacity: 1;
  height: 93%;

}

.ctr {
  position: absolute !important;
  transform: translate(-34%, -40%);
  text-align: center;
  padding-top: 35%;
}

.service-offered {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

.btn-outline {
  border: 2px solid #e31b6d;
}

.services-button {
  font-family: 'Comfortaa', cursive;
  border: solid 2px #e31b6d;
  color: #444649;
  padding: 10px 30px;
}

.services-button:hover {
  background-color: #e31b6d;
  color: white; 
}

.header-bar {
  background-color: #444649;
  height: 4px;
  width: 70px;
  margin-left: 47%;
}

.bar-2 {
  margin-bottom: 150px;
}

.row11 {
  padding-top: 150px;
  background-color: #fff;
  padding-bottom: 150px;
}

.row12 {
  background-color: #252934;
  height: 100px;
  padding-bottom: 150px;
}

.contact-section {
  background-color: #252934;
}

.text-contact {
  color: #fff;
}

.contact-bar {
  background-color: #fff;
  height: 4px;
  width: 70px;
  margin-left: 47%;
  margin-bottom: 70px;
}

.row14 {
  background-color: #252934;
}

.contact-inquiries {
  font-family: 'Comfortaa', cursive;
  color: #04c2c9;
}

.form-control {
  padding-bottom: 5px;
  margin-bottom: 4px;
  background: #1e242c;
  border-color: #1e242c;
}

.btn-outline-submit {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 30px;
  margin-top: 5px;
  margin-bottom: 100px;
}

.btn-outline-submit:hover {
  color: #fff;
  background-color: #04c2c9;
  border-color: #04c2c9;
}

/*FOOTER*/

footer {
  background-color: #0b0d0e;
  color: #495057;
  border-top: 2px solid #04c2c9;
}

.row17 {
  background-color: black;
}

.segment-one h3 {
  font-family: "Meddon", cursive;
  font-size: 20px;
  color: #e31b6d !important;
}

.segment-one p {
  color: #ffffffbf;
  padding-top: 40px;
}

.row15 h2 {
  color: #ffffffbf;
  text-align: center!important;
}

.listing li {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #495057;
}

.listing li a {
  color: #495057!important;
  text-decoration: none;
}

.listing li a:hover {
  color: #ffffffbf!important;
}

.segment-three p,
.segment-four p {
  text-align: justify;
  padding-top: 20px;
}

.icons a {
  padding: 8px;
}

#social-icon {
  -webkit-filter: grayscale(100%);  /*Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#social-icon:hover {
  -webkit-filter: grayscale(0);  /*Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

@media only screen and (max-width: 600px) {
  .info {
    position: absolute;
    height: 100%;
    font-size: 15px;
    background-color: #f7d4d4a3;
  }

  .parallax {
    position: relative;
    height: 80%;
  }

  .text-one {
    font-size: 15px;
    padding: 0;
  }

  .row1 {
    padding: 0;
  }

  .meimg {
    height: 300px;
    width: 250px;
    margin: 0;
  }

  .slogan-1 {
    font-size: 25px;
  }

}

.navbar .navbar-toggler{
    z-index:1000
}
@media (max-width: 991.98px){
    .navbar .navbar-collapse{
        background:rgba(0,0,0,0.85);
        opacity:0;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        transition:opacity 0.35s ease;
        display:flex;
        flex-direction:column;
        align-content:center;
        text-align:center !important
    }
    .navbar .navbar-collapse.collapse{
        display:flex;
        opacity:0;
        pointer-events:none
    }
    .navbar .navbar-collapse.collapsing[style*="height"]{
        opacity:1;
        height:100vh !important
    }
    .navbar .navbar-collapse.collapsing{
        opacity:0;
        height:100vh
    }
    .navbar .navbar-collapse.collapse.show{
        opacity:1;
        pointer-events:auto
    }
    .navbar .navbar-collapse .navbar-nav{
        margin-right:initial !important;
        margin-top:auto;
        margin-bottom:auto
    }
}

@media (max-width: 991.98px) {
    .navbar-nav {
        margin-left: initial !important;
    }
}

